
body{
    background: white;
    margin:0;
}
.github{
    font-size:0.7em;
    font-weight:900;
}
h1{
    color: white;
    font-family: arial;
    font-weight:100;
    background-color:rgba(50,118,187,1);
    margin-bottom:0;
    margin-top:0;
/*     padding-bottom:1em;
    padding-top:1em; */
    padding:1em;
}
header p{
    margin-top:0;
    margin-bottom:0;
    padding:1em;
    background-color:rgba(234,241,248,1);
}
.column-1{
    background: white;
    float:left;
    width: 45.6%;
    padding:1em;
}
.column-2{
    background: white;
    float: right;
    width: 45.25%;
    padding:1em;
}
details{
    background-color:grey;
}
summary{
    background-color:rgba(238,238,240,1);
}
footer{
    clear: both;
    display: fixed;
    bottom: 0px;
}

